body{
    padding: 0;
    margin:20px;
}

input{
    color: white;
    width: 95vw;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background: black;
    margin: 10px;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}